  <a routerLink="/home" routerLinkActive="active" class="logo">
    <img src="logo.png" alt="Dental Clinic Logo" class="logo-img">
    <div class="logo-text">
        <span class="line1">DENTAL</span>
        <span class="line2">CLINIC</span>
    </div>
  </a>
  
    <ul class="nav-menu">
      <li><a routerLink="/home" routerLinkActive="active" class="nav-link active">Home</a></li>
      <li><a routerLink="/turnos" routerLinkActive="active" class="nav-link">Turnos</a></li>
      <li><a routerLink="/odontologos" routerLinkActive="active" class="nav-link">Odontólogos</a></li>
      <!--Este último no sé si agregarlo así, por lo que aún no lo componeticé-->
    </ul>
  
    <div class="actions">
      <button routerLink="/login" routerLinkActive="active" class="btn btn-outline">Login</button>
      <button routerLink="/signIn" routerLinkActive="active" class="btn btn-primary">Sign-up</button>
    </div>

  
