@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:host {
  width: 99vw;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 12px 16px;
   border-bottom: 1px solid #ddd;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25); 
   position: sticky;
   top: 0;
   z-index: 1000;
   height: 8vh;
  }
   
 
.logo {
   display: flex;
   align-items: center;
   gap: 12px;
   text-decoration: none;
   color: #000;
   font-family: 'Roboto', sans-serif;
 }
 
 .logo-img {
   height: 45px;
   width: auto;
   object-fit: contain;
 }
 
 .logo-text {
   display: flex;
   font-family: 'Roboto', sans-serif;
}

 .logo-text .line1 {
   font-weight: 1000;   
   font-size: 20px;
   color: #555;
   letter-spacing: 0.5px;
   padding-right: 7px;
 }
 
 .logo-text .line2 {
   font-weight: 400;   
   font-size: 20px;
   color: #686868;
   letter-spacing: 0.5px;
 }

 .nav-menu {
   list-style: none;
   display: flex;
   gap: 18px;
   padding: 0;
   margin: 0;
 }
 
 .nav-link {
   text-decoration: none;
   color: #555;
   font-weight: 400;
   transition: all 0.4s ease;
 }
 
 .nav-link:hover {
   color: #000;
 }
 
 .nav-link.active {
   color: #6c757d;
 }
 
 .actions {
   display: flex;
   gap: 10px;
 }
 
 .btn {
   padding: 6px 14px;
   border-radius: 4px;
   cursor: pointer;
   font-size: 15px;
 }
 
 .btn-outline {
   background: transparent;
   border: 1px solid #717171;
   color: #4b4b4b;
   transition: all 0.3s ease;
 }
 
 .btn-outline:hover {
   background: #434343;
   color: #fff;
 }
 
 .btn-primary {
   background: #0064A2;
   color: #fff;
   transition: all 0.3s ease;
   border: none;
 }
 
 .btn-primary:hover {
   background: #2DB2EB;
 }

@media(max-width: 700px){
  .logo-text{
    display: none;
  }
}
 