<a (click)="goTo()" class="logo">
  <img src="logo.png" alt="Dental Clinic Logo" class="logo-img">
  <div class="logo-text">
    <span class="line1">DENTAL</span>
    <span class="line2">CLINIC</span>
  </div>
</a>

@if(!isLoggedIn()){
<div class="actions">
  <button routerLink="/login" class="btn btn-outline">Login</button>
  <button routerLink="/signIn" class="btn btn-primary">Sign-up</button>
</div>
} @else {
@if(typeUser() === 'ROLE_PACIENTES'){
<ul class="nav-menu">
  <li><a routerLink="/turnos/pacientes" routerLinkActive="active" class="nav-link">Turnos</a></li>
  <li><a routerLink="/odontologos" routerLinkActive="active" class="nav-link">Odontólogos</a></li>
</ul>
} @else {
<ul class="nav-menu">
  <li><a routerLink="/turnos/odontologos" routerLinkActive="active" class="nav-link">Turnos</a></li>
</ul>
}


<div class="user-menu">
  <div class="dropdown">
    <button class="dropdown-toggle">
      Hola, {{ userNombre }} <span class="arrow">▼</span>
    </button>
    <div class="dropdown-content">
      <a (click)="goToEditProfile()">Editar perfil</a>
      <a (click)="logout()">Cerrar sesión</a>
    </div>
  </div>
</div>
}