@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:host {
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 12px 16px;
   border-bottom: 1px solid #ddd;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25); 
   position: sticky;
   top: 0;
   z-index: 1000;
   height: 8vh;
  }
   
 
.logo {
   display: flex;
   align-items: center;
   gap: 12px;
   text-decoration: none;
   color: #000;
   font-family: 'Roboto', sans-serif;
 }
 
 .logo-img {
   height: 45px;
   width: auto;
   object-fit: contain;
 }
 
 .logo-text {
   display: flex;
   font-family: 'Roboto', sans-serif;
}

 .logo-text .line1 {
   font-weight: 1000;   
   font-size: 20px;
   color: #555;
   letter-spacing: 0.5px;
   padding-right: 7px;
 }
 
 .logo-text .line2 {
   font-weight: 400;   
   font-size: 20px;
   color: #686868;
   letter-spacing: 0.5px;
 }

 .nav-menu {
   list-style: none;
   display: flex;
   gap: 18px;
   padding: 0;
   margin: 0;
 }
 
 .nav-link {
   text-decoration: none;
   color: #555;
   font-weight: 400;
   transition: all 0.4s ease;
 }
 
 .nav-link:hover {
   color: #000;
 }
 
 .nav-link.active {
   color: #6c757d;
 }
 
 .actions {
   display: flex;
   gap: 10px;
 }
 
 .btn {
   padding: 6px 14px;
   border-radius: 4px;
   cursor: pointer;
   font-size: 15px;
 }
 
 .btn-outline {
   background: transparent;
   border: 1px solid #717171;
   color: #4b4b4b;
   transition: all 0.3s ease;
 }
 
 .btn-outline:hover {
   background: #434343;
   color: #fff;
 }
 
 .btn-primary {
   background: #0064A2;
   color: #fff;
   transition: all 0.3s ease;
   border: none;
 }
 
 .btn-primary:hover {
   background: #2DB2EB;
 }

 .user-menu {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
}

.dropdown-toggle {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.2s ease;
}

.dropdown-toggle:hover {
  background-color: #f5f5f5;
}

.arrow {
  font-size: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  z-index: 1;
  overflow: hidden;
}

.dropdown-content a {
  color: #333;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media(max-width: 700px){
  .logo-text{
    display: none;
  }
}
 