<div class="container-total">
    <div class="container-singin">
        <app-alert-banner></app-alert-banner>
        <h2>Registrarse</h2>

        <form [formGroup]="form" (ngSubmit)="handleSubmit()">
            <div class="type-user">
                <div class="div-types-user">
                    <label for="odontologo">Odontólogo </label>
                    <input type="radio" formControlName="rolId" name="rolId" id="odontologo" [value]="2">
                </div>
                <div>
                    <label for="paciente">Paciente</label>
                    <input type="radio" formControlName="rolId" name="rolId" id="paciente" [value]="1">
                </div>
            </div>

            <div class="div-input">
                <div class="head-input">
                    <label for="nombre">Nombre</label>
                    @if(nombre.hasError('required') && (nombre.dirty || nombre.touched)){
                    <span>*El nombre es requerido</span>
                    }
                </div>
                <input type="text" name="nombre" id="nombre" formControlName="nombre">
            </div>

            <div class="div-input">
                <div class="head-input">
                    <label for="apellido">Apellido</label>
                    @if(apellido.hasError('required') && (apellido.dirty || apellido.touched)){
                    <span>*El apellido es requerido</span>
                    }
                </div>
                <input type="text" name="apellido" id="apellido" formControlName="apellido">
            </div>

            <div class="div-input">
                <div class="head-input">
                    <label for="email">Email</label>
                    @if(email.dirty || email.touched){
                    @if(email.hasError('required')){
                    <span>*El email es requerido</span>
                    } @else if(email.hasError('email')){
                    <span>*El formato de email es incorrecto</span>
                    }
                    }
                </div>
                <input type="email" name="email" id="email" formControlName="email" />
            </div>

            <div class="div-input">
                <div class="head-input">
                    <label for="password">Contraseña</label>
                    @if(password.dirty || password.touched){
                    @if (password.hasError('required')){
                    <span>*La contraseña es requerida</span>
                    } @else if (password.hasError('minlength')) {
                    <span>*Debe contener al menos 8 caracteres</span>
                    } @else if(password.hasError('pattern')){
                    <span>*Debe contener mayúsculas, minúsculas y números</span>
                    }
                    }
                </div>
                <input type="password" name="password" id="password" formControlName="password" />
            </div>

            <div class="div-input">
                <div class="head-input">
                    <label for="passwordConfirm">Repetir contraseña</label>
                    @if ((passwordConfirm.dirty || passwordConfirm.touched)) {
                    @if (passwordConfirm.hasError("required")){
                    <span>*La contraseña es requerida</span>
                    } @else if (passwordConfirm.hasError('noCoincide')){
                    <span>*Las contraseñas no coinciden</span>
                    }
                    }
                </div>
                <input type="password" name="passwordConfirm" id="passwordConfirm" formControlName="passwordConfirm" />
            </div>

            <div class="div-actions">
                <div class="register">
                    <span>¿Ya tenés cuenta?</span>
                    <a routerLink="/login">Iniciar Sesión</a>
                </div>
                <button class="submit" type="submit" [disabled]="form.invalid">Registrarse</button>
            </div>
        </form>
    </div>
</div>