<div class="hero">
    <div class="hero-content">
        <h2>
            Atendete con la mejor clínica del universo.
        </h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Hic soluta veritatis officiis cumque voluptatum quo, eos eligendi!
        </p>
        <div class="botones">
            <button class="btn-primary">Escribinos!</button>
            <button class="btn-secondary">Sacar turno</button>
        </div>
    </div>
    <div class="hero-image">
        <img src="images/imghero.jpg" alt="imagen hero">
    </div>
</div>