*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

app-root{
    margin: 0;
    width: 100%;
    height: 100%;
}

header 
/*Poner header solo sin corchetes hace que se vaya para arriba solito, no entiendo por que pero por ahora lo dejo asi*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F8FAFB;
    font-family: 'Poppins', sans-serif;
}

h2{
    color: #333333;
    cursor: default;
}

p{
    font-size: 16px;
    color: #666666;
}