*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #F8FAFB;
    font-family: 'Poppins', sans-serif;
}

h2{
    color: #333333;
    cursor: default;
}

p{
    font-size: 16px;
    color: #666666;
}