<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<section class="contact-section">
    <div class="contact-info">
        <h2>Dental Clinic</h2>

        <div class="contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <div>
                <p><strong>Dirección</strong><br></p>
                <p>San Luis 2562, Mar del Plata<br></p>
                <p>Provincia de Buenos Aires</p>
            </div>
        </div>

        <div class="contact-item">
            <i class="fas fa-phone"></i>
            <div>
                <p><strong>Teléfonos</strong><br></p>
                <p>(0223) 492-1110 / (0223) 493-9954<br></p>
                <p>(0223) 493-4045 / (0223) 493-4046<br></p>
                <p>(0223) 491-5306</p>
            </div>
        </div>

        <div class="contact-item">
            <i class="fas fa-phone-volume"></i>
            <div>
                <p><strong>Turnos telefónicos</strong><br></p>
                <p>Interno 130</p>
            </div>
        </div>

        <div class="contact-item">
            <i class="fab fa-whatsapp"></i>
            <div>
                <p><strong>Turnos WhatsApp (08-16hs) / Sólo mensajes</strong><br></p>
                <p>(223) 542-3643</p>
            </div>
        </div>

        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <div>
                <p><strong>E-mail</strong><br></p>
                <p>contacto@dentalclinic.com.ar</p>
            </div>
        </div>

        <div class="socials">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
        </div>
    </div>

    <div class="contact-map">
        <img src="images/ubicacionplaceholder.png" alt="Mapa de ubicación">
    </div>
</section>