.container-footer {
    background-color: rgb(17, 17, 17);
    color: white;
    height: 5vh;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

p{
    color: inherit;
    font-size: 11px;
}